# Pandas Tutorial

## Loading the Library

In [1]:
import pandas as pd
import numpy as np

## Creating Dataframe from Dictionary

Fundamental Concept:
    
    A dictionary is a collection which is unordered, changeable and indexed. 
    In Python dictionaries are written with curly brackets, and they have keys and values.
    It's Map like JAVA--only differenc is key can be any datatype and values can be of any datatype
    Example:
    --------
    
    thisdict = {
    
  "brand": "Ford",
  
  "model": "Mustang",
  
  "year": 1964
  
}

print(thisdict)

## Creating Dataframe from Dictionary

In [2]:
test={"Name":["Stadaru","Soham","Sudeshna"],
     "Location":["Burdwan","Durgapur","UP"]}
print(test)

{'Name': ['Stadaru', 'Soham', 'Sudeshna'], 'Location': ['Burdwan', 'Durgapur', 'UP']}

In [3]:
ls=pd.DataFrame(test);##You can use Tab Completion to get the required functions
ls

       Name  Location
0   Stadaru   Burdwan
1     Soham  Durgapur
2  Sudeshna        UP

### Now we can see the index has default values 0,1,2... , we can change this according to our requirement as below

In [4]:
ls=pd.DataFrame(test,index=["Hola","Bhola","Mola"]);##You can use Tab Completion to get the required functions
ls

           Name  Location
Hola    Stadaru   Burdwan
Bhola     Soham  Durgapur
Mola   Sudeshna        UP

### We can see that same dataframe is created but with the index as we specified

In [5]:
ls=pd.DataFrame(test);##You can use Tab Completion to get the required functions
ls

       Name  Location
0   Stadaru   Burdwan
1     Soham  Durgapur
2  Sudeshna        UP

# Calculate the length of the Dataframe

In [6]:
len(ls)

3

# Getting the Name of the Columns

In [7]:
ls.columns

Index(['Name', 'Location'], dtype='object')

In [8]:
# Extract one particular Column
ls["Name"]

0     Stadaru
1       Soham
2    Sudeshna
Name: Name, dtype: object

In [9]:
# Extract multiple Columns--Keep inside one more Square Bracket
ls[["Name","Location"]]

       Name  Location
0   Stadaru   Burdwan
1     Soham  Durgapur
2  Sudeshna        UP

VVVI Note:
----------
If you want to extract multiple columns and don't specify inside Double Square bracket , you will get error

In [10]:
#See this case , you will get error
ls["Name","Location"]

KeyError: ('Name', 'Location')

## Aother method to extract column:
use the column name as an 'attribute' like MATLAB

In [ ]:
ls.Name

In [ ]:
ls.Location

# How to Select Rows from Pandas DataFrame

Syntax:-

You can use the following logic to select rows from Pandas DataFrame based on specified conditions:

df.loc[df[‘column name’] condition]

For example, if you want to get the rows where the color is green, then you’ll need to apply:

df.loc[df[‘Color’] == ‘Green’]

To get all the rows where the price is equal or greater than 10, you’ll need to apply this condition:

df.loc[df[‘Price’] >= 10]

You may then use the & symbol to apply multiple conditions. In our example, the code would look like this:

df.loc[(df[‘Color’] == ‘Green’) & (df[‘Shape’] == ‘Rectangle’)]

you can use the | symbol as follows:

df.loc[(df[‘Color’] == ‘Green’) | (df[‘Shape’] == ‘Rectangle’)]

ou can use the combination of symbols != to select the rows where the price is not equal to 15:

df.loc[df[‘Price’] != 15]

# loc=location--so using loc we can extract rows of a apraticular location

# You can use loc for slicing of DataFrame also

In [11]:

ls

       Name  Location
0   Stadaru   Burdwan
1     Soham  Durgapur
2  Sudeshna        UP

In [12]:
ls.loc[0:1]

      Name  Location
0  Stadaru   Burdwan
1    Soham  Durgapur

In [13]:
ls.loc[0:2]

       Name  Location
0   Stadaru   Burdwan
1     Soham  Durgapur
2  Sudeshna        UP

In [14]:
ls.loc[0:2:2]

       Name Location
0   Stadaru  Burdwan
2  Sudeshna       UP

# Note VVI:-
# loc includes both start and stop index