# Statistics in Pandas

In [4]:
import numpy as np
import pandas as pd

In [10]:
dict = {'First Score':[100, 90,100 , 95], 
        'Second Score': [30, 45, 56, np.nan], 
        'Third Score':[np.nan, 40, 80, 98]} 
m=pd.DataFrame(dict)
m

   First Score  Second Score  Third Score
0          100          30.0          NaN
1           90          45.0         40.0
2          100          56.0         80.0
3           95           NaN         98.0

### Sum of all the marks present in FirstScore Column

In [11]:
m['First Score'].sum()

385

### Average of all the marks present in FirstScore Column

In [14]:
m['First Score'].mean()

96.25

### Cumulative Sum of  all the marks present in FirstScore Column

In [16]:
m['First Score'].cumsum()

0    100
1    190
2    290
3    385
Name: First Score, dtype: int64

In [17]:
m['First Score'].min()

90

In [18]:
m['First Score'].max()

100

In [19]:
m['First Score'].var()

22.916666666666668

In [20]:
m['First Score'].std()

4.7871355387816905

# VVI Correlation

In [23]:
m.corr()

              First Score  Second Score  Third Score
First Score      1.000000     -0.088475      0.67369
Second Score    -0.088475      1.000000      1.00000
Third Score      0.673690      1.000000      1.00000

In [24]:
m

   First Score  Second Score  Third Score
0          100          30.0          NaN
1           90          45.0         40.0
2          100          56.0         80.0
3           95           NaN         98.0

### Note:--
### The methods has the capability to exclude NA/null values

In [25]:
m['Second Score'].sum()

131.0

In [27]:
(30+45+56)/3

43.666666666666664

In [28]:
m['Second Score'].mean()

43.666666666666664